In [1]:
#open the .txt file
data = open("behaviour_analysis2_probabilities.txt", "r", encoding='utf-16').read()

In [3]:
#split the file on newlines
lines = [x for x in data.splitlines()]
split_tabs = [x for x in [line.split('\t') for line in lines]]

In [11]:
#replace commas by full stops 
replace_comma = [[x.replace(',','.') for x in l] for l in split_tabs]

In [12]:
import pandas as pd 
#retrieve column names
titles = replace_comma[0]
replace_comma.pop(0)

#data frame with all the data
df = pd.DataFrame(replace_comma)
df.columns = titles

,Participant,towards_robot,not_towards_robot,positive,neutral,negative,Entrainment,Phase,
0,003,0.769623,0.230377,0.51365,0.48635,0,0,1,
1,003,0.58247,0.41753,0.160746,0.839254,0,0,0,
2,006,0.898693,0.101307,0.576681,0.423319,0,1,1,
3,006,0.662546,0.337454,0.232035,0.767965,0,1,0,
4,007,0.881768,0.118232,0.250724,0.749276,0,0,1,
5,007,0.723738,0.276262,0.0381838,0.951222,0.0105944,0,0,
6,008,0.881588,0.118412,0.192638,0.807362,0,1,1,
7,008,0.585282,0.414718,0.0666495,0.926754,0.00659642,1,0,
8,009,0.800875,0.199125,0,0.879103,0.120897,0,1,
9,009,0.488908,0.511092,0.0329288,0.960269,0.0068022,0,0,

In [7]:
# the code below counts the total occurrances of a column 
#import numpy as np
#df['negative'].value_counts()

In [13]:
df['towards_robot'] = pd.to_numeric(df['towards_robot'],errors='coerce')
df['positive'] = pd.to_numeric(df['positive'],errors='coerce')

In [14]:
#create one dataframe that only contains intro data, and one that only contains other data. 
intro_data = []
for li in replace_comma:
    if li[7] == '1':
        intro_data.append(li)

other_data = []
for li in replace_comma:
    if li[7] == '0':
        other_data.append(li)
        
df_intro = pd.DataFrame(intro_data)
df_other = pd.DataFrame(other_data)

In [17]:
#rename the columns 
df_intro.columns = ['participant', 'towards_robot', 'not_towards_robot', 'positive','neutral','negative','entrainment', 'phase',' ']
df_other.columns = ['participant', 'towards_robot', 'not_towards_robot', 'positive','neutral','negative','entrainment', 'phase',' ']

In [18]:
df_other = df_other.drop([' '], axis=1)
df_intro = df_intro.drop([' '], axis=1)

In [20]:
#convert strings to floats 

df_other['towards_robot'] = df_other['towards_robot'].astype(float)
df_other['not_towards_robot'] = df_other['not_towards_robot'].astype(float)
df_other['positive'] = df_other['positive'].astype(float)
df_other['neutral'] = df_other['neutral'].astype(float)
df_other['negative'] = df_other['negative'].astype(float)

df_intro['towards_robot'] = df_intro['towards_robot'].astype(float)
df_intro['not_towards_robot'] = df_intro['not_towards_robot'].astype(float)
df_intro['positive'] = df_intro['positive'].astype(float)
df_intro['neutral'] = df_intro['neutral'].astype(float)
df_intro['negative'] = df_intro['negative'].astype(float)

In [9]:
#export data 
df_intro.to_csv(r'/Users/alessandrapolimeno/Documents/Uni/thesis_real thing/Noldus/statistics/export_intro_data.csv', 
          sep=',', index = False, header=True)

df_other.to_csv(r'/Users/alessandrapolimeno/Documents/Uni/thesis_real thing/Noldus/statistics/export_other_data.csv', 
          sep=',', index = False, header=True)

#optional: export the complete dataframe 
df.to_csv(r'/Users/alessandrapolimeno/Documents/Uni/thesis_real thing/Noldus/statistics/export_complete_data.csv', 
          sep=',', index = False, header=True)

NameError: name 'df_intro' is not defined